.empresa-container {
  display: grid;
  grid-template-columns: 1fr 700px;
  gap: 20px;
  max-width: 1200px;
  justify-items: center;
  align-items: start;
  margin: 0 auto;
  height: 200px;
  padding: 40px 16px;
  margin-bottom: 380px;
}

.empresa-container h2,
.empresa-container p,
.empresa-container span {
  font-family: var(--fontFamily);
}

.empresa-container h2 {
  font-size: 38px;
  position: relative;
}

.empresa-container p,
.empresa-container span {
  font-size: 18px;
}

.empresa-list {
  display: grid;
  gap: 20px;
}

.empresa-list li::before {
  content: '';
  width: 10px;
  height: 4px;
  background: #b2b2b2;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
}

.video-empresa video {
  height: 80%;
  width: 80%;
  border-radius: 4px;
  margin-top: -10px;
}

#fundo-logo {
  position: relative;
}

#fundo-logo span::after {
  content: '';
  background-image: url('../img/logo/Logo_588_whiteB.png');
  background-size: 359px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  display: block;
  position: absolute;
  top: 69px;
  left: -4px;
  opacity: 0.2;
  z-index: -1;
}

@media (max-width: 860px) {
  .empresa-container {
    grid-template-columns: 1fr;
    height: 540px;
  }

  .video-empresa video {
    max-width: 150%;
  }

  .fundo-588 h2::after {
    margin-left: 10px;
  }

  .empresa-container p,
  .empresa-container span {
    font-size: 16px;
  }

  #fundo-logo span::after {
    background-size: 250px;
  }
}

@media (max-width: 800px) {
  #fundo-logo span::after {
    width: 80%;
    height: 80%;
    top: 60px;
    left: 20px;
  }
}