.empresa-container {
  display: grid;
  grid-template-columns: 1fr 700px;
  gap: 20px;
  max-width: 1200px;
  justify-items: center;
  align-items: start;
  margin: 0 auto;
  height: 200px;
  padding: 40px 16px;
  margin-bottom: 260px;
}

.empresa-container h2,
.empresa-container p,
.empresa-container span {
  font-family: var(--fontFamily);
}

.empresa-container h2 {
  font-size: 38px;
  position: relative;
}

.empresa-container p,
.empresa-container span {
  font-size: 18px;
}

.empresa-list {
  display: grid;
  gap: 20px;
}

.empresa-list li::before {
  content: '';
  width: 10px;
  height: 4px;
  background: #b2b2b2;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
}

/* .empresa-container span::before {
  content: url('../img/icons/aspas.svg');
  width: 100%;
  font-size: 32px;
  position: absolute;
  display: block;
  top: -20px;
  left: -16px;
} */

.video-empresa video {
  height: 70%;
  width: 70%;
  border-radius: 4px;
  margin-top: 10px;
}

.fundo-588 {
  position: relative;
}

.fundo-588 h2::after {
  content: url('../img/logo/Icone588cinza.png');
  display: block;
  position: absolute;
  opacity: .3;
  font-size: 100px;
  top: -50px;
  margin-left: -35px;
}

@media(max-width: 860px) {
  .empresa-container {
    grid-template-columns: 1fr;
    height: 600px;
  }

  .video-empresa video {
    max-width: 150%;
  }

  .fundo-588 h2::after {
    margin-left: 10px;
  }

  .empresa-container p,
  .empresa-container span {
    font-size: 16px;
  }
}