.empresa-container {
  display: grid;
  grid-template-columns: 1fr 700px;
  gap: 20px;
  max-width: 1200px;
  justify-items: center;
  align-items: start;
  margin: 0 auto;
  height: 200px;
  padding: 40px 16px;
  margin-bottom: 260px;
}

.empresa-container h2,
.empresa-container p,
.empresa-container span {
  font-family: var(--fontFamily);
}

.empresa-container h2 {
  font-size: 32px;
  position: relative;
}

.empresa-list {
  display: grid;
  gap: 20px;
}

.empresa-list li::before {
  content: '';
  width: 10px;
  height: 4px;
  background: #b2b2b2;
  display: inline-block;
  margin-bottom: 4px;
  margin-right: 4px;
}

/* .empresa-container span::before {
  content: url('../img/icons/aspas.svg');
  width: 100%;
  font-size: 32px;
  position: absolute;
  display: block;
  top: -20px;
  left: -16px;
} */

.video-empresa video {
  height: 70%;
  width: 70%;
  border-radius: 4px;
  margin-top: 10px;
}

.fundo-588 {
  position: relative;
}

.fundo-588 h2::after {
  content: '588';
  display: block;
  position: absolute;
  opacity: .08;
  font-size: 60px;
  top: -10px;
  margin-left: -10px;
  background: var(--p2);
}

@media(max-width: 860px) {
  .empresa-container {
    grid-template-columns: 1fr;
    height: 600px;
  }

  .video-empresa video {
    max-width: 150%;
  }
}