.footer-bg {
  background: var(--p0);
}

.footer-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-items: start;
   color: var(--p4);
   max-width: 1200px;
   margin: 0 auto;
   padding: 80px 20px 0px 20px;
   gap: 20px;
}

.footer-container a,
.footer-container span,
.footer-container p {
  font-family: var(--fontFamily);
  color: var(--p4);
  margin-bottom: 16px;
}

.footer-informacoes {
  display: grid;
  grid-column: 3;
  grid-row: 1;
}

.footer-informacoes li {
  display: grid;
  font-family: var(--fontFamily);
  gap: 10px;
}

.footer-informacoes li a::after {
  content: '';
  width: 0;
  height: 2px;
  display: block;
  top: 4px;
  background: white;
  transition: .3s ease-in-out;
}

.footer-informacoes li a:hover::after {
  width: 80%;
}


.footer-redes {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.footer-contato li {
  display: grid;
  font-family: var(--fontFamily);
  gap: 10px;
}

.logo-footer {
  margin-bottom: 20px;
}

@media(max-width: 780px) {
  .footer-bg {
    display: grid;
    justify-content: center;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
  .footer-informacoes {
    grid-column: 1;
  }
}
