.parceiros-bg {
  background-color: var(--p4);
  margin-top: 40px;
  margin-bottom: 80px;
  height: auto;
  padding: 40px 0 0 0;
}

.parceiros ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative;
}

.parceiros ul li:nth-child(n + 2)::after {
  content: '';
  width: 2px;
  height: 80px;
  position: absolute;
  background: var(--p3);
  top: 40px;
  margin-left: -12px;
}

.parceiros ul::before {
  content: '';
  width: 50%;
  height: 2px;
  position: absolute;
  background: var(--p3);
  top: 20px;
  margin-left: 0px;
}

.parceiros ul::after {
  content: '';
  width: 50%;
  height: 2px;
  position: absolute;
  background: var(--p3);
  top: 140px;
  margin-left: 1px;
}

.parceiros ul {
  display: flex;
  flex-wrap: wrap;
}

.parceiros ul li img {
  max-width: 200px;
}

.parceiros-title {
  color: var(--p0);
  font-size: 40px;
  z-index: 2;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.parceiros-title::after {
  content: url('../img/logo/Icone588cinza.png');
  display: inline-block;
  z-index: -1;
  margin-left: -180px;
  top: -40px;
  position: absolute;
  opacity: 0.3;
}

@media (max-width: 890px) {
  .parceiros ul li:nth-child(n + 2)::after {
    width: 0;
    height: 0;
    position: absolute;
    background: #000;
    top: 0;
  }

  .parceiros ul li {
    gap: 40px;
  }

  .parceiros ul {
    flex-direction: column;
    margin-top: 100px;
  }

  .parceiros ul::before {
    content: '';
    width: 0;
    height: 0;
  }
  
  .parceiros ul::after {
    content: '';
    width: 0;
    height: 0;
  }
}